@font-face {
    font-family: "SF Pro Text Bold";
    font-display: block;
    src: local("SF Pro Text Bold");
    src: url("~@/assets/fonts/SF Pro Text Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "SF Pro Text Semibold";
    font-display: block;
    src: local("SF Pro Text Semibold");
    src: url("~@/assets/fonts/SF Pro Text Semibold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "SF Pro Text Medium";
    font-display: block;
    src: local("SF Pro Text Medium");
    src: url("~@/assets/fonts/SF Pro Text Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "SF Pro Text Regular";
    font-display: block;
    src: local("SF Pro Text Regular");
    src: url("~@/assets/fonts/SF Pro Text Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "SF Pro Text Light";
    font-display: block;
    src: local("SF Pro Text Light");
    src: url("~@/assets/fonts/SF Pro Text Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "SF-Pro-Display-Bold";
    font-display: block;
    src: local("SF-Pro-Display-Bold");
    src: url("~@/assets/fonts/SF-Pro-Display-Bold.otf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "SF-Pro-Display-Semibold";
    font-display: block;
    src: local("SF-Pro-Display-Semibold");
    src: url("~@/assets/fonts/SF-Pro-Display-Semibold.otf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "SF-Pro-Display-Medium";
    font-display: block;
    src: local("SF-Pro-Display-Medium");
    src: url("~@/assets/fonts/SF-Pro-Display-Medium.otf") format("truetype");
    font-weight: 500;
}